<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/CSS/RecipeBookStyles.css">
    <title>Cook Lab | Recipe Book</title>
</head>
<body>

    <header class="navbar">
        <a href="/index.html" class="logo">🍳 Cooking</a>
        <nav>
          <a href="Partials/About.html">About</a>
          <a href="Partials/Contact.html">Contact</a>
          <a href="Partials/RecipeBook.html">Recipe Book</a>
          <a href="Partials/Requestform.html">Request a Recipe</a>
          <a href="Partials/Da3boolos.html">Ask Da3boolos</a>
        </nav>
      </header>

      <main>
        
      </main>

      <footer>
        <div class="footer-left">
          <h3>Cooking</h3>
          <div class="socials">
            <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/instagram.svg" alt=""></a>
            <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/twitter.svg" alt=""></a>
            <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/facebook.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-right">
          <a href="#">Recipes</a>
          <a href="#">Blog</a>
          <a href="#contact">Contact</a>
        </div>
      </footer>
    <script src="/Assets/Scripts/recipebook.js"></script>
</body>
</html>